<div class="row">

    <div class="col-sm-6">

        <div class="panel-group" id="cross_accord1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord1" href="#collapse_clinvar">Clinvar</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_clinvar">
                    <div class="panel-body">The variant-associated disease as annotated by Clinvar.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord1" href="#collapse_omim">OMIM</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_omim">
                    <div class="panel-body">The variant-associated disease as annotated by OMIM.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord1" href="#collapse_mitomap_disease">Mitomap Associated Disease</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_mitomap_disease">
                    <div class="panel-body">The variant-associated disease as annotated by Mitomap.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord1" href="#collapse_sm_disease">Somatic Mutations Associated Disease</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_sm_disease">
                    <div class="panel-body">The variant-associated disease as annotated by Mitomap Somatic Mutations.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="panel-group" id="cross_accord2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord2" href="#collapse_phastcons">PhastCons</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_phastcons">
                    <div class="panel-body">The PhastCons information about the variant.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord2" href="#collapse_phylop">PhyloP</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_phylop">
                    <div class="panel-body">The PhyloP information about the variant.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord2" href="#collapse_dbsnp">dbSNP</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_dbsnp">
                    <div class="panel-body">dbSNP information about the specific variant.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#cross_accord2" href="#collapse_mamit">Mamit tRNA</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_mamit">
                    <div class="panel-body">Mamit tRNA information about the specific variant.</div>
                </div>
            </div>
        </div>

    </div>

</div>
