<div class="row">

    <div class="col-sm-6">

        <div class="panel-group" id="plasmy_accord1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#plasmy_accord1" href="#collapse_mitomap_homo">Mitomap Homoplasmy</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_mitomap_homo">
                    <div class="panel-body">The variant homoplasmy as annotated in Mitomap.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#plasmy_accord1" href="#collapse_sm_homo">Somatic Mutations Homoplasmy</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_sm_homo">
                    <div class="panel-body">The variant homoplasmy as annotated in Mitomap Somatic Mutations.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#plasmy_accord1" href="#collapse_genomes1K_homo">1000 Genomes Homoplasmy</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_genomes1K_homo">
                    <div class="panel-body">The variant homoplasmy as annotated in the 1000 Genomes Project.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="panel-group" id="plasmy_accord2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#plasmy_accord2" href="#collapse_mitomap_hetero">Mitomap Heteroplasmy</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_mitomap_hetero">
                    <div class="panel-body">The variant heteroplasmy as annotated in Mitomap.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#plasmy_accord2" href="#collapse_sm_hetero">Somatic Mutations Heteroplasmy</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_sm_hetero">
                    <div class="panel-body">The variant heteroplasmy as annotated in Mitomap Somatic Mutations.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#plasmy_accord2" href="#collapse_genomes1K_hetero">1000 Genomes Heteroplasmy</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_genomes1K_hetero">
                    <div class="panel-body">The variant heteroplasmy as annotated in the 1000 Genomes Project.</div>
                </div>
            </div>
        </div>

    </div>

</div>
