<div class="row">

    <div class="col-sm-6">

        <div class="panel-group" id="predict_accord1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#predict_accord1" href="#collapse_mutpred">MutPred</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_mutpred">
                    <div class="panel-body">The pathogenicity prediction and score of the variant as predicted by MutPred.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#predict_accord1" href="#collapse_polyphen_humdiv">PolyPhen2 HumDiv</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_polyphen_humdiv">
                    <div class="panel-body">The pathogenicity prediction and score of the variant as predicted by PolyPhen2 HumDiv.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#predict_accord1" href="#collapse_polyphen_humvar">PolyPhen2 HumVar</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_polyphen_humvar">
                    <div class="panel-body">The pathogenicity prediction and score of the variant as predicted by PolyPhen2 HumVar.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="panel-group" id="predict_accord2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#predict_accord2" href="#collapse_panther">Panther</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_panther">
                    <div class="panel-body">The pathogenicity prediction and score of the variant as predicted by Panther.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#predict_accord2" href="#collapse_phD_snp">PhD SNP</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_phD_snp">
                    <div class="panel-body">The pathogenicity prediction and score of the variant as predicted by PhD SNP.</div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#predict_accord2" href="#collapse_snp_go">SNPs & GO</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_snp_go">
                    <div class="panel-body">The pathogenicity prediction and score of the variant as predicted by SNPs & GO.</div>
                </div>
            </div>
        </div>

    </div>

</div>
