<div class="row">

    <div class="col-sm-6">

        <div class="panel-group" id="variab_accord1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#variab_accord1" href="#collapse_nt_var">Nucleotide Variability</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_nt_var">
                    <div class="panel-body">The <a href="{{ url_for('site.variability') }}" title="Nucleotide Variability">nucleotide variability</a> of the variant in healthy individuals and patients, in the formats
                        <ul>
                            <li><code>[variab]</code> (single value)</li>
                            <li><code>[min_var-max_var]</code> (range of variability)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-6">

        <div class="panel-group" id="variab_accord2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#variab_accord2" href="#collapse_aa_var">Aminoacid Variability</a>
                    </p>
                </div>
                <div class="panel-collapse collapse" id="collapse_aa_var">
                    <div class="panel-body">The aminoacid variability of the variant in healthy individuals and patients, in the formats
                        <ul>
                            <li><code>[variab]</code> (single value)</li>
                            <li><code>[min_var-max_var]</code> (range of variability)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
