{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>

        <p class="lead">If you want to ask questions, suggest improvements or simply get in touch with our team, these are the people behind HmtVar. </p>

        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img src="{{ url_for('static', filename='img/people/MarAtt.png') }}" alt="Marcella Attimonelli" class="media-object" style="width: 80px; ">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Marcella Attimonelli</h4>
                            <p>Associate Professor, University of Bari</p>
                            <p><a href="mailto:marcella.attimonelli@uniba.it">marcella.attimonelli@uniba.it</a></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    {{ super() }}
{% endblock %}